header .navbar {
    background-color: white;
    width: 750px;
    margin: auto;
    border-radius: 5px;
/*
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
*/
}
header .navbar h1 {
    text-align: center;
    /* font-family: Helvetica; */
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6em;
    padding-top: 10px;
    line-height: 1.05em;
    margin-bottom: 10px;
}

h1:after
{
    content:' ';
    display:block;
    border:2px solid black;
    margin: auto;
    width: 430px;
}

header .navLinks {
    text-align: center;
    font-variant: small-caps;
    font-size: 1.375em;
    letter-spacing: 5px;
    padding: 0px;
    list-style-type: none;
    margin-top: 0;
    padding-bottom: 5px;
    border: thick;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
    /* font-family: Helvetica; */
    font-family: 'Montserrat', sans-serif;

}

#navigation li:before { 
    content: " | "; 
} 

#navigation li:first-child:before { 
    content: none; 
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

body {
    /* background-image: url("../images/IMG_0352.jpg");
    background-size: cover;
    background-repeat: no-repeat; */

    background-color: rgb(45, 45, 45);

    
/*    background-position: rs*/
}

div .body_content {
    color: grey;
    text-align: center;
    padding: 150px;
}
