header .navbar {
    background-color: white;
}
header .navbar h1 {
    text-align: center;
}

header .navLinks {
    text-align: center;
}

works:link {
    color: black;
}

body {
    background-image: url("../images/IMG_0075.jpg");
    background-size: cover;
    background-repeat: no-repeat;
/*    background-position: center center;*/
}
